.for-who {
  min-height: 420px;
  padding-bottom: 80px;

  @media (max-width: 575px) {
    padding-bottom: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 230px);
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    background: -webkit-linear-gradient(75deg, $colorWhite 50%, $colorDesertStorm 50%);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    box-sizing: border-box;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    
    @media (max-width: 575px) {
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    width: 33.33%;
    height: 342px;
    margin: 0 10px 20px;
    text-align: center;
    overflow: hidden;

    @media (min-width: 576px) {
      -webkit-box-shadow: 0px 0px 30px -18px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 30px -18px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 30px -18px rgba(0,0,0,0.5);
      //width: 360px;
    }

    @media (max-width: 960px) and (min-width: 576px){
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      height: 298px;
    }

    @media (max-width: 767px) {
      height: 342px;
    }

    @media (max-width: 575px) {
      width: 100%;
      height: auto;
      background-color: transparent;
      box-shadow: none;
      padding: 15px 15px;
      border: none;
    }

    &-icon {
      display: inline-block;
      width: 130px;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 0.813rem;
      line-height: 0.813rem;

      @media (min-width: 960px) {
        font-size: 1rem;
        line-height: 1.3rem;
      }
      
    }
  }
}