@import '../variables';
@import '../fonts';

.cpn-btn {
  display: inline-block;
  transition: .3s ease-in-out;
  font-size: 0.8rem !important;
  font-weight: 600;
  padding: 12px 18px;
  font-size: 1rem;
  line-height: normal;
  border-radius: 30px;
  color: $colorWhite;
  background-color: $colorBiscay;
  border-color: transparent;

  &:hover {
    color: $colorWhite;
    background-color: darken($colorBiscay, 7.5%) ;
    /*$background: $colorDesertStorm;
    $hover-background: darken($background, 7.5%);
    $active-background: darken($background, 10%);*/
  }

  &--login {
    background-color: $colorDesertStorm;
    color: $colorBiscay;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      background-color: $colorBiscay;
      -webkit-mask-image: url('/images/svg/enter_icon.svg');
      -webkit-mask-size: 22px 22px;
      -webkit-mask-repeat: no-repeat ;
      margin-right: 10px;
    }


    &:hover {
      color: $colorShark;
      background-color: darken($colorDesertStorm, 7.5%);
      
      &::before {
        background-color: $colorShark;
      }
    }
  }

  &--red {
    font-size: 1.125rem !important;
    background-color: $colorAmaranth;
    border-color: transparent;
    color: $colorWhite;
    display: inline-flex;
    align-items: center;
    -webkit-box-shadow: 0px 10px 40px -4px rgba(238, 39, 70, 0.55);
    -moz-box-shadow: 0px 10px 40px -4px rgba(238,39,70, 0.55);
    box-shadow: 0px 10px 40px -4px rgba(238, 39, 70, 0.55);

    &::after {
      content: "";
      position: relative;
      display: inline-block;
      width: 18px;
      height: 20px;
      background-color: $colorWhite;
      -webkit-mask-image: url('/images/svg/findout_icon.svg');
      -webkit-mask-size: 18px 20px;
      -webkit-mask-repeat: no-repeat ;
      margin-left: 10px;
    }


    &:hover {
      color: $colorWhite;
      background-color: darken($colorAmaranth, 7.5%);
    }
  }

  &--blue {
    color: $colorWhite;
    background-color: $colorCobalSecond;
    border-color: transparent;

    &:hover {
      color: $colorWhite;
      background-color: darken($colorCobalSecond, 7.5%);
    }
    
    &-second {
      color: $colorWhite;
      background-color: $colorBlueRibbon;
      border-color: transparent;

      &:hover {
        color: $colorWhite;
        background-color: darken($colorBlueRibbon, 7.5%);
      }
      
    }
  }


}