/*----Circe------*/
@font-face {
  font-family: Circe-Regular;
  src: local("Circe-Regular"), url("/fonts/ParaType-Circe.otf");
}

@font-face {
  font-family: Circe-Bold;
  src: local("Circe-Bold"), url("/fonts/circe/Circe-Bold.ttf");
}

@font-face {
  font-family: Circe-ExtraBold;
  src: local("Circe-ExtraBold"), url("/fonts/circe/Circe-ExtraBold.ttf");
}

@font-face {
  font-family: Circe-Linght;
  src: local("Circe-Linght"), url("/fonts/circe/Circe-Linght.ttf");
}