/*
* COLOR
*/

$colorWhite: #fff;
$colorDesertStorm: #f2f2f0;
$colorGallery: #f1efef;

$colorShark: #212529;

$colorBiscay: #1b3073;
$colorBiscaySecond: #193368;
$colorBiscayThird: #003cb98c;
$colorCobalt: #003cb9;
$colorCobalSecond: #003cb9;
$colorScienceBlue: #0366D6;
$colorDeepCove: #06183A;
$colorBayofMany: #223676;
$colorSanMarino: #506EAE;

$colorAmaranth: #ee2746;

$colorDustyGray: #9f9999;