/*
* COLOR
*/

$colorWhite: #fff;
$colorDesertStorm: #f2f2f0;
$colorGallery: #f1efef;
$colorMercury: #e7e7e7;
$colorMercurySecond: #e2e2e2;

$colorShark: #212529;
$colorCharade : #292a34;
$colorCharadeFirst: #252733;
$colorCharadeSecond: #21232d;
$colorCinder: #050508;

$colorBiscay: #1b3073;
$colorBiscaySecond: #193368;
$colorBiscayThird: #003cb98c;
$colorCobalt: #003cb9;
$colorCobalSecond: #003cb9;
$colorScienceBlue: #0366D6;
$colorScienceBlueSecond: #0042cc;
$colorBlueRibbon: #0053FF;
$colorRoyalBlue: #3483df;
$colorJordyBlue: #84b5ee;
$colorCadetBlue : #A7AEBC;
$colorDeepCove: #06183A;
$colorBayofMany: #223676;
$colorSanMarino: #506EAE;
$colorCornflowerBlue: #2d53a0e6;
$colorCornflowerBlueSecond: #4a98f3;
$colorDodgerBlue: #4984FF;

$colorAmaranth: #ee2746;

$colorDustyGray: #9f9999;
$colorGrey: #ccc;
$colorAlabaster: #f8f8f8;
$colorPorcelain: #edeeef;
